@import '__setting.scss';


.navbar-board {
    display: flex;
    font-size: 1.1rem;
    padding-left: $gap;
    align-items: center;
    height: $navbar-board-height;
    background-color: $board-bg-color;
}