@import '__setting.scss';
@import "~bootstrap/scss/bootstrap";



body {
    margin: 0;
    font-size: 14px;
    line-height: 1.3em;
    font-family: 'Source Sans Pro', sans-serif;
}

.App {
    height: 100vh;
    overflow: hidden;
    color: $app-main-text-color;
    background-color: $board-bg-color;
    .icon {
        margin: 0 3px;
        font-size: 14px;
    }
    .trello-container{
        padding: 0;
        margin:  0 15px;
    }
    textarea:focus, 
    textarea.form-control:focus, 
    input.form-control:focus, 
    input[type=text]:focus, 
    input[type=password]:focus, 
    input[type=email]:focus, 
    input[type=number]:focus, 
    [type=text].form-control:focus, 
    [type=password].form-control:focus, 
    [type=email].form-control:focus, 
    [type=tel].form-control:focus, 
    [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-color;
    }
    .btn:focus, .btn:active {
        outline: none !important;
        box-shadow: none !important;
    }
    .content-editable {
        border: none;
        cursor: pointer;
        font-size:  inherit;
        font-weight: inherit;
        background-color: inherit;
        &:focus{
            background-color: white;
        }
    }
    span.cancel-icon {
        cursor: pointer;
        margin-left: $gap;
        i {
            font-size: 18px;
            color:$alert-danger;
            &:hover{
                color: darken($alert-danger, 10)
            }
        }
    }
    
}